[submodule "DomoPad Mobile Client Plugin.indigoPlugin/Contents/Server Plugin/RPFramework"]
	path = DomoPad Mobile Client Plugin.indigoPlugin/Contents/Server Plugin/RPFramework
	url = https://github.com/RogueProeliator/IndigoPlugins-RPFramework
